<a href="https://colab.research.google.com/github/Daniel1020/Nano-Degree-Projects/blob/master/Program_With_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
s2 = pd.Series({'b':6,'d':8,'c':7,'a':5})

In [5]:
s2

b    6
d    8
c    7
a    5
dtype: int64

In [10]:
s2.iloc[0:2]

b    6
d    8
dtype: int64

In [11]:
s2.loc[['b','d']]

b    6
d    8
dtype: int64

In [0]:
s3 = pd.Series([9.,100.,np.nan],index=list('ayz'))

In [13]:
s3

a      9.0
y    100.0
z      NaN
dtype: float64

In [15]:
s3[s3.notnull()]

a      9.0
y    100.0
dtype: float64

In [16]:
s2+s3

a    14.0
b     NaN
c     NaN
d     NaN
y     NaN
z     NaN
dtype: float64

In [0]:
_df = {
    'ticker': ['AAPL', 'AAPL', 'MSFT', 'IBM', 'YHOO'],
    'date': ['2015-12-30', '2015-12-31', '2015-12-30', '2015-12-30', '2015-12-30'],
    'open': [426.23, 427.81, 42.3, 101.65, 35.53]
}
df = pd.DataFrame(_df)

In [18]:
df

  ticker        date    open
0   AAPL  2015-12-30  426.23
1   AAPL  2015-12-31  427.81
2   MSFT  2015-12-30   42.30
3    IBM  2015-12-30  101.65
4   YHOO  2015-12-30   35.53

In [19]:
df.open

0    426.23
1    427.81
2     42.30
3    101.65
4     35.53
Name: open, dtype: float64

In [20]:
df['open']

0    426.23
1    427.81
2     42.30
3    101.65
4     35.53
Name: open, dtype: float64

In [21]:
df[['open']]

     open
0  426.23
1  427.81
2   42.30
3  101.65
4   35.53

In [23]:
df.loc[df.ticker=='AAPL',['date','open']]

         date    open
0  2015-12-30  426.23
1  2015-12-31  427.81

In [25]:
df1=df.set_index('ticker')
df1

              date    open
ticker
AAPL    2015-12-30  426.23
AAPL    2015-12-31  427.81
MSFT    2015-12-30   42.30
IBM     2015-12-30  101.65
YHOO    2015-12-30   35.53

In [27]:
df2 = df1.reset_index().set_index('date')
df2

           ticker    open
date
2015-12-30   AAPL  426.23
2015-12-31   AAPL  427.81
2015-12-30   MSFT   42.30
2015-12-30    IBM  101.65
2015-12-30   YHOO   35.53

In [0]:
df3= df.copy()
df3['close']=np.nan

In [29]:
gt100 = df3.open[df3.open>100]

gt100

0    426.23
1    427.81
3    101.65
Name: open, dtype: float64

In [0]:
df3.close =gt100

In [32]:
df3.close

0    426.23
1    427.81
2       NaN
3    101.65
4       NaN
Name: close, dtype: float64

In [0]:
url = 'https://raw.githubusercontent.com/Daniel1020/programming-with-data/master/starmine.csv'
df1 = pd.read_csv(url)

In [37]:
df1.head()

         date symbol        id  ...         sales  net_income common_equity
0  1995-01-31  0223B  87259410  ...  4.742420e+08  11605000.0  2.136270e+08
1  1995-01-31  0392B  44701594  ...  4.293530e+08 -25243000.0 -5.137000e+06
2  1995-01-31  0485B  05978410  ...  2.475380e+08  16343000.0  1.282730e+08
3  1995-01-31  0491B  25660510  ...  3.430521e+09  77889000.0  1.052114e+09
4  1995-01-31  0517B  89621510  ...  4.432300e+08  38000000.0  2.448500e+08

[5 rows x 23 columns]

In [0]:
df1['date']= pd.to_datetime(df1['date'])

In [44]:
sectors = 'Durbl Enrgy Hitec'.split(' ')
dates =['1995-01-31','1995-02-28']
cols= ['date','symbol','sector','smi','ret_0_1_m','cap_usd']

['1995-01-31', '1995-02-28']

In [0]:
dat = df1[cols].query('sector in @sectors and date in @dates').reset_index(drop=True)

          date symbol sector   smi  ret_0_1_m       cap_usd
290 1995-02-28   WSN.  Enrgy  24.0   0.106667  3.412125e+08
291 1995-02-28   XCLT  Enrgy   NaN   0.181686  1.296379e+09
292 1995-02-28    XOM  Enrgy   NaN   0.033268  7.933275e+10
293 1995-02-28     ZE  Durbl   NaN  -0.030769  2.915981e+08
294 1995-02-28    ZEI  Enrgy  44.0   0.074630  2.507330e+08

In [0]:
grp = dat.groupby('sector')

In [49]:
for sector_name,sector_df in grp:
  print(f'Sector Name:{sector_name}')
  break

Sector Name:Durbl

In [54]:
sector_df.tail()

          date symbol sector   smi  ret_0_1_m       cap_usd
286 1995-02-28   WALB  Durbl  42.0   0.012292  1.560740e+08
287 1995-02-28    WGO  Durbl  92.0   0.025974  2.429254e+08
288 1995-02-28    WHR  Durbl  44.0  -0.006897  3.973072e+09
289 1995-02-28    WMS  Durbl   3.0  -0.034483  5.241315e+08
293 1995-02-28     ZE  Durbl   NaN  -0.030769  2.915981e+08

In [55]:
grp.mean()

              smi  ret_0_1_m       cap_usd
sector
Durbl   47.601942   0.013980  2.060993e+09
Enrgy   31.304762   0.046266  3.868865e+09

In [56]:
grp['smi'].mean()

sector
Durbl    47.601942
Enrgy    31.304762
Name: smi, dtype: float64

In [58]:
grp['smi'].agg([np.sum,np.mean,'std'])

           sum       mean        std
sector
Durbl   4903.0  47.601942  27.106305
Enrgy   3287.0  31.304762  25.958963

In [60]:
grp.agg({
    'smi': lambda x:x.mean(),
    'cap_usd':np.std
}).rename(columns={
    'smi':'smi_mean',
    'cap_usd':'cap_usd_mean'
})

         smi_mean  cap_usd_mean
sector
Durbl   47.601942  5.050708e+09
Enrgy   31.304762  1.060664e+10

In [61]:
grp2 = dat.groupby(['sector','date'])
grp2[['cap_usd','smi']].mean()

                        cap_usd        smi
sector date
Durbl  1995-01-31  1.972087e+09  50.584906
       1995-02-28  2.154066e+09  44.440000
Enrgy  1995-01-31  3.793351e+09  28.490566
       1995-02-28  3.944378e+09  34.173077

In [62]:
grp3 = dat.groupby('sector')
grp3.apply(lambda df: pd.Series(df.shape,index=['nrow','ncol']))

        nrow  ncol
sector
Durbl    131     6
Enrgy    164     6

In [63]:
dat.head()

        date  symbol sector   smi  ret_0_1_m       cap_usd
0 1995-01-31  3FDMLQ  Durbl  31.0   0.154400  5.014660e+08
1 1995-01-31   3HOGL  Enrgy   NaN   0.277108  1.352070e+08
2 1995-01-31   AHC.2  Enrgy   3.0   0.079890  4.201135e+09
3 1995-01-31   AICOQ  Durbl  68.0  -0.043774  1.681028e+08
4 1995-01-31    AIHI  Durbl  45.0   0.105634  3.026198e+08

In [0]:
dat = dat.set_index(['date','symbol'],verify_integrity=True).sort_index()

In [65]:
dat.head()

                  sector   smi  ret_0_1_m       cap_usd
date       symbol
1995-01-31 3FDMLQ  Durbl  31.0   0.154400  5.014660e+08
           3HOGL   Enrgy   NaN   0.277108  1.352070e+08
           AHC.2   Enrgy   3.0   0.079890  4.201135e+09
           AICOQ   Durbl  68.0  -0.043774  1.681028e+08
           AIHI    Durbl  45.0   0.105634  3.026198e+08

In [68]:
dat.groupby('sector').agg({
    'smi': lambda x:x.mean()
}).rename({
    'smi':'smi_mean'
})

              smi
sector
Durbl   47.601942
Enrgy   31.304762

In [69]:
dat[['smi','cap_usd']].describe()

              smi       cap_usd
count  208.000000  2.950000e+02
mean    39.375000  3.066047e+09
std     27.700673  8.629153e+09
min      1.000000  1.033492e+08
25%     16.000000  2.304942e+08
50%     34.000000  5.351610e+08
75%     57.000000  1.664186e+09
max    100.000000  7.933275e+10

In [70]:
dat.head()

                  sector   smi  ret_0_1_m       cap_usd
date       symbol
1995-01-31 3FDMLQ  Durbl  31.0   0.154400  5.014660e+08
           3HOGL   Enrgy   NaN   0.277108  1.352070e+08
           AHC.2   Enrgy   3.0   0.079890  4.201135e+09
           AICOQ   Durbl  68.0  -0.043774  1.681028e+08
           AIHI    Durbl  45.0   0.105634  3.026198e+08

In [73]:
grp2 =dat.groupby(['date','sector'])
mth_sector = grp2.agg({
    'size':'median',
    'liq':'std'
})

/usr/local/lib/python3.6/dist-packages/pandas/core/groupby/generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

KeyError: ignored

In [74]:
df1 = pd.DataFrame({
    'ticker': ['AAPL', 'MSFT', 'IBM', 'YHOO', 'GOOG'],
    'open': [426.23, 42.30, 101.65, 35.53, 200.41]
})
df1

  ticker    open
0   AAPL  426.23
1   MSFT   42.30
2    IBM  101.65
3   YHOO   35.53
4   GOOG  200.41

In [75]:
df2 = pd.DataFrame({
    'ticker': ['AAPL', 'GOOG', 'NFLX'],
    'close': [427.53, 210.96, 91.86]
}, columns=['ticker', 'close'])
df2

  ticker   close
0   AAPL  427.53
1   GOOG  210.96
2   NFLX   91.86

In [0]:
df1m2 = pd.merge(df1,df2,on='ticker')

In [77]:
df1m2

  ticker    open   close
0   AAPL  426.23  427.53
1   GOOG  200.41  210.96

In [0]:
df1m1 = pd.merge(df1,df2,how='left',on='ticker')

In [81]:
df1m1

  ticker    open   close
0   AAPL  426.23  427.53
1   MSFT   42.30     NaN
2    IBM  101.65     NaN
3   YHOO   35.53     NaN
4   GOOG  200.41  210.96

In [83]:
df3 = df1.assign(date=pd.datetime(2018, 1, 4))\
    .iloc[:2, ] # first 2 rows only
df3

  ticker    open       date
0   AAPL  426.23 2018-01-04
1   MSFT   42.30 2018-01-04

In [85]:

df4 = df3.assign(
    date=pd.datetime(2018, 1, 5),
    open=lambda x: x.open + 10
)
df4

  ticker    open       date
0   AAPL  436.23 2018-01-05
1   MSFT   52.30 2018-01-05

In [86]:
df3.append(df4)

  ticker    open       date
0   AAPL  426.23 2018-01-04
1   MSFT   42.30 2018-01-04
0   AAPL  436.23 2018-01-05
1   MSFT   52.30 2018-01-05